:host {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: white;
}

.task-name {}

.task-name-completed {
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}

.round-button-wrapper {
    display: grid;
    place-content: center;
}

.round-button {
    border: 1px solid gray;
    background-color: white;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    cursor: pointer;
}

.round-button-ticked {
    background-color: rgb(175, 126, 232);
}

/* Style buttons */
.btn {
    background-color: white;
    /* Blue background */
    border: none;
    /* Remove borders */
    color: gray;
    /* White text */
    padding: 0px 0px;
    /* Some padding */
    font-size: 16px;
    /* Set a font size */
    cursor: pointer;
    /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
    color: red;
}