<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Complete button -->
<div class="round-button-wrapper">
    <button (click)="onCompleteTask()" type="button" class="round-button"
        [ngClass]="{ 'round-button-ticked': task.isDone }"></button>
</div>

<!-- Task details -->
<!-- <div class="task-name" [class.task-name-completed]="task.isDone">{{ task.name }}</div> -->
<div class="task-name" [ngClass]="{ 'task-name-completed': task.isDone }">
    {{ task.name }} {{ task.id }} {{ task.isDone }}
</div>

<!-- Delete button -->
<div>
    <button (click)="onDeleteTask()" type="button" class="delete-button" *ngIf="task.isDone" class="btn"><i
            class="fa fa-trash"></i></button>
</div>