<!-- Title -->
<div class="title-bar">
  <h3>Task List</h3>
</div>

<!-- List of Tasks -->
<div class="task-list">
  <app-task *ngFor="let tsk of taskList" [task]="tsk">
  </app-task>
</div>

<!-- Task Form -->
<div>
  <input [(ngModel)]="newTaskName">
  <button (click)="onAddNewTask()" type="button" class="add-button btn btn-primary">+ New Task</button>
</div>