.title-bar {
    background-color: rgb(175, 126, 232);
    color: rgb(255, 255, 255);
    display: grid;
    place-content: center;
    padding: 0px;
}

h3 {
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

.task-list {
    margin-bottom: 10px;
    margin-top: 10px;
}